body {
    color: #333;
    background: #f9f9f9;
}
p {
    line-height: 1.6em;
}
.pure-g > div {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.pimg {
    max-width: 100%;
    height: auto;
}
.pad-a {
    padding: 2em;
    background: #fff;
}
.pad-b {
    padding: 0 2em;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#content {
    padding: 0 0 0 2em;
}

#layout {
    position: relative;
    padding-left: 0;
}

.header {
     margin: 0;
     color: #fff;
     text-align: center;
     padding: 1em 1em 2em 1em;
     background: #2299cc;
 }
    .header h1, .header p.site-title {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
        line-height: 1.2em;
    }
     .header span {
        font-weight: 300;
        color: #fff;
        padding: 0;
        margin-top: 0;
    }

#content h3, #content h4, #content h5, #content h6 {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

article {
    margin-bottom: 2em;
}



article h1 {
  color: #444;
  margin-bottom: 1em;
}
.title {
    position: relative;
}
.title img  {
    max-width: 100%;
    height: auto;

}

.wh {
    color: #fff
}
.lg {
    margin: 0px 0 20px 0;

    line-height: 1.4em;
    font-size: 1.3em;
    font-weight: 400;
}

.footer {
  padding: 0 2em;
}
.footer p {
  font-size: 10px;
}
.text-right {
  text-align: right;
  padding-right: 1em;
}
.featured {
  margin-bottom: 80px;
  padding-bottom: 40px;
  border-bottom: 2px solid #dfdfdf;
}
.featured h1 {
  font-size: 22px;
}
